@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar{
    display: none;
}

/* Base rich text */
.rich-text {
  font-size: 15px;
  color: #7A7B7D;
  line-height: 1.7;
}

/* Paragraphs */
.rich-text p {
  margin-bottom: 16px;
}

/* Headings */
.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525;
  margin: 24px 0 16px;
}

.rich-text h2 {
  font-size: 30px;
  font-weight: 700;
  color: #252525;
  margin: 22px 0 14px;
}

.rich-text h3 {
  font-size: 26px;
  font-weight: 600;
  color: #333333;
  margin: 20px 0 12px;
}

.rich-text h4 {
  font-size: 22px;
  font-weight: 500;
  color: #444444;
  margin: 18px 0 10px;
}

.rich-text h5 {
  font-size: 18px;
  font-weight: 400;
  color: #555555;
  margin: 16px 0 8px;
}

/* Text emphasis */
.rich-text strong {
  font-weight: 700;
}

/* Lists */
.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}

.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}

.rich-text li {
  margin-bottom: 8px;
}
